<div class="container" fxLayout="row" fxLayoutGap="10px">

    <div fxFlex>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h3>Eggs 101: How to cook eggs
                    </h3>
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src='/assets/images/how-to-cook-egg.jpg'>
            <mat-card-content>
                <h1>Featured</h1>
                <h4>Eggs are a great source of protein, and can be cooked in more than 100 ways. If you're just starting
                    out, here are 4 basic ways to cook eggs.</h4>
            </mat-card-content>
            <mat-card-actions>
                <button mat-mini-fab color="primary">👍</button>
                <button mat-mini-fab>❤️</button>
            </mat-card-actions>
        </mat-card>

    </div>
    <div fxFlex>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    How to Boil Eggs in 5 Easy Steps
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <h4>
                    <ul>
                        <li>Bring the water to boil; reduce the flame</li>
                        <li>Put in the eggs</li>
                        <li>Let it be for 4 -5 minutes for soft-boiled eggs</li>
                        <li>For a boiled egg with a consistency just between soft and hard, leave them to boil for 6-7
                            minutes.</li>
                    </ul>
                </h4>
                <mat-grid-list cols="2" fxLayout="center center ">

                </mat-grid-list>
            </mat-card-content>

        </mat-card>
    </div>
</div>